<nb-layout>

  <nb-layout-header fixed>
    <nb-sidebar-toggle></nb-sidebar-toggle>
  </nb-layout-header>

  <nb-sidebar left tag="left" state="compacted">
    <nb-menu-services></nb-menu-services>
  </nb-sidebar>

  <nb-sidebar right tag="right" state="collapsed">
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Product Details</nb-accordion-item-header>
        <nb-accordion-item-body>
          Item Content

          <button nbButton outline status="warning">Active</button>
          <button nbButton disabled>Disabled</button>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <nb-card>


    </nb-card>
  </nb-sidebar>



  <nb-layout-column>
    <nb-card>
      Page Content 
      <button nbButton>Hello World</button>

    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
  </nb-layout-column>


</nb-layout>