<nb-layout>

  <nb-layout-header fixed>
    <nb-sidebar-toggle></nb-sidebar-toggle>
  </nb-layout-header>

  <nb-sidebar left tag="left">
    <nb-menu-services></nb-menu-services>
  </nb-sidebar>

  <nb-sidebar right tag="right">
    <nb-accordion>
      <nb-accordion-item>
       <nb-accordion-item-header>Product Details</nb-accordion-item-header>
       <nb-accordion-item-body>
         Item Content
       </nb-accordion-item-body>
      </nb-accordion-item>
     </nb-accordion>
  </nb-sidebar>



  <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
  </nb-layout-column>
  <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
  </nb-layout-column>


</nb-layout>
